<!DOCTYPE html>
<html lang="en">
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>СarCrew</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
</head>

<body>

    <ul class="main-nav">
        <li class="main-nav__item"><a class="null" th:href="@{/mainPages/main}">Главная</a></li>
        <li class="main-nav__item"><a class="null" th:href="@{/mainPages/event}">Ивенты</a></li>
        <li class="main-nav__item"><a class="null" href="*">Обслуживание</a></li>
        <li class="main-nav__auth"><a class="null" th:href="@{/mainPages/shop}">Разборка</a></li>
        <li class="main-nav__auth"><a class="null" th:href="@{/mainPages/discussions}">Обсуждения</a></li>
        <li class="main-nav__auth"><a class="null" th:href="@{/auth/registr}">Вход/Регистрация</a></li>
    </ul>

<main class="wrapper">
    <article class="hallo-word">
        <video autoplay muted loop id="myVideo">
            <source src="/videos/VideobyGROUNDED EVENT.mp4" type="video/mp4">
        </video>
        <section class="content">


            <h1 class="hello-text">
                сайт для тех кто интересуестя машинами
            </h1>

            <div class="invete">присоедениться </div>
        </section>
    </article>
    <article class="sections">
        <h2 class="our">
            возможности нашего сервиса
        </h2>
        <div class="grid">
            <div class="first grid-default">
                <h3>ФОРУМ </h3>
            </div>
            <div class="second grid-default">
                <h3>МЕРОПРИЯТИЯ </h3>
            </div>
            <div class="three grid-default">
                <h3>СЕРВИС И ОБСЛУЖИВАНИЕ </h3>
            </div>
            <div class="four grid-default">

                <h3>РЫНОК </h3>
            </div>
        </div>
    </article>


</main>

</body>

</html>